.font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.sbg {
  background-color: transparent;
}

header {
  background-image: url("./assets/Hero-bg.png");
  text-align: center;
}

/* .intro {
    margin-right: 221px;
    margin-left: 221px;
    margin-bottom: 45px; 
} */

/* main {
    text-align: center;
margin-left: 150px;
        margin-right: 150px;
}*/

section {
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-bottom: 64px;
  margin-top: 64px;
  /* background-color: aqua; */
  /* border: 5px solid black; */
  width: 1140px;
}

#caption {
  text-align: center;
}

#id1 {
  display: block;
  font-weight: 700;
  font-size: 32px;
  color: #0d1321;
}

.text {
  color: black;
  opacity: 70%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.cap-font {
  font-weight: 800;
  font-size: 48px;
  color: #0d1321;
}

.change-the-world {
  display: flex;
  margin: 48px;
  /* background: linear-gradient(to left,rgb(255,255,255),rgba(255,255,0),100%); */
  justify-content: space-between;
}
.create-web-3 {
  display: flex;
  margin: 48px;
  justify-content: space-between;
}
#in-img-1 {
  margin-left: 98px;
  height: 240px;
  width: 240px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.des {
  width: 477px;
}

.brief {
  color: #0d1321;
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
}

.btn {
  background: #0d1321;
  color: #ffffff;
  padding: 24px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  margin-bottom: 45px;
}

.learn-more {
  font-size: 16px;
  font-weight: bold;
  color: #0d1321;
  padding-bottom: 40px;
}
#idlearnmore {
  height: 47px;
  width: 171px;
  background-color: #f0f2f7;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding-top: 12px;
}
iframe {
  height: 550px;
  width: 1076px;
  border-radius: 16px;
  border: none;
  margin-top: 80px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
}

.need-support {
  background-image: linear-gradient(
      to top,
      rgba(231, 232, 238, 0.52),
      rgba(9, 9, 9, 0.73)
    ),
    url("./assets/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}
.need-support-div {
  margin-right: 198px;
  margin-left: 198px;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
}
.need-support-div-des p {
  color: whitesmoke;
  text-align: center;
}
.need-support-form {
  margin-right: 228px;
  margin-left: 228px;
  padding-bottom: 64px;
  text-align: center;
  /* margin-left: 157px; */
  /* margin-right: 157px; */
}
p .des {
  display: flex;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  opacity: 70%;
}
/* .need-support-div-des {
  display: block;
  margin-left: 197px;
  margin-right: 197px;
} */
.need-support-form {
  display: flex;
  justify-content: center;
}
#form {
  width: 548px;
  height: 57px;
  border-radius: 8px;
}
::placeholder {
  font-size: 16px;
  padding-left: 215px;
  padding-left: 20px;
  padding-bottom: 19px;
  padding-top: 19px;
}
.submit {
  margin-left: 16px;
  height: 57px;
  width: 120px;
  background-color: #ffffff;
  color: #0d1321;
  border-radius: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.cpy {
  font-size: 20px;
  font-weight: 700;
  color: #0d1321;
}
.contact {
  display: flex;
}
.fb {
  padding-right: 24px;
}
.github {
  padding-right: 24px;
}
.css {
  background-color: #f0f2f7;
  border-radius: 16px;
  padding: 40px;
}
.html {
  background-color: #f4ebe9;
  border-radius: 16px;
  padding: 40px;
}
.js {
  border-radius: 16px;
  padding: 40px;
}
.submit {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
